<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Forget Password Template</title>
   <meta charset="UTF-8"/>
 <style>
@media only screen and (min-width : 320px) and (max-width : 654px) {
/* mobile-specific CSS styles go here */
table {
	width: 100% !important;
	height: auto;
}
body {
	background-color: #fff;
	margin: 0px;
}

</style>
</head>
<body>
    <table style="border:15px solid #eeeeee;width: 655px;margin:0 auto;">
       <tr>
          <td>
             <!-- Enter First Name code here -->
             <p style="margin-left: 20px;"><b>Dear <span th:text="${#strings.capitalize(user.firstName)}">First Name</span>,</b></p>
             <p style="margin-left: 20px;text-align: justify;margin-right: 20px;">We have processed your request for password retrieval. Your account details are as mentioned below</p>

             <p style="margin-left: 20px;margin-top: 35px;margin-right: 20px;">
            
                <!-- Enter UserId code here -->
               User ID : <span th:text="${user.username}">userid</span><br/>
               <!-- Enter Password code here -->
               Password : <span th:text="${password}">password@1234</span><br/>
               <span>Change your password at your own and keep this safely.</span>
             </p>

             <p style="margin-left: 20px;margin-top: 35px;">
               Best Regards,<br/>
               <!-- Company name -->
                 <span th:text="${user.organization.name}">Company Name</span>
             </p>
 
                <!-- email Id code -->
             <p style="margin-left: 20px;margin-right: 20px;text-align: justify;margin-top: 35px;">
               <b>Note </b>: Please do not reply back to this mail.This is sent from an unattended mail box. Please mark all your queries / responses to <span style="color:#0758fd;">admin@admincompany.com</span>
             </p>
          </td>
       </tr>
      
</table>

</body>

</html>